<template>
<div>
<form class="forms-sample">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="exampleInputUsername1">Nama Event</label>
                <input type="text" class="form-control" id="event" autocomplete="off" placeholder="Nama" v-model="data.event" v-validate="'required'" name="event" data-vv-as="Event" >
                <div>{{ veeErrors.first('event') }}</div>
            </div>     
           
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Tanggal</label>
                <input type="text" class="form-control" id="tanggal" placeholder="dd/mm/YYYY" v-model="data.tanggal" v-validate="'required'" name="tanggal" data-vv-as="Tanggal Event" >
                <div>{{ veeErrors.first('tanggal') }}</div>
            </div>
            
           
        </div>
       
 
    </div>
    
    <div class="form-group">
        <label for="exampleInputEmail1">Note</label>
        <textarea type="text" class="form-control" id="note" placeholder="Owner" v-model="data.note"  name="note" data-vv-as="Pemilik Ruangan" >
        </textarea>
    </div>  
    <div class="form-group">
        <div v-for="(file, index) in files" :key="file.id">
          <img v-if="!file.error" :src="getImage(file.name)" alt="Bukti Transfer" width="500" height="auto" > 
          <span v-else>Can't Preview Image</span>
              <br/>
          
          <span>File: {{file.name}}</span> |
          <span>Size: {{file.size | formatSize}}</span>|
          <span v-if="file.error" class="btn-danger pl-1 pr-1">{{(file.error=='denied'?"Upload File Failed":"Upload File Error")}}</span>
          <span v-else-if="file.success"  class="btn-success pl-1 pr-1">Success Upload</span>
          <span v-else-if="file.active">Proses Upload - {{file.progress}}/100</span>
          <span v-else></span>
          <div :class="{'progress-bar': true, 'progress-bar-striped': true, 'bg-danger': file.error, 'progress-bar-animated': file.active}" role="progressbar" :style="{width: file.progress + '%'}">{{file.progress}}%</div>
        </div>
        <file-upload
            class="btn btn-primary"
            post-action="upload/bukti"
            extensions="xls,xlsx"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            :multiple="false"
            v-model="files"
            @input-filter="inputFilter"
            @input-file="inputFile"
            ref="upload"
            :headers="{'X-CSRF-TOKEN': token}"
            :drop="true"
            name="file_upload"
            v-validate="'required'">
            <i class="fa fa-plus"></i>
            Select files
          </file-upload>
    </div>    



    <button type="submit" @click.prevent="back()" class="btn btn-secondary mr-2">Back</button>
    <button type="submit" @click.prevent="submit()" class="btn btn-success mr-2">Generate</button>
    
</form>
</div>
</template>

<script>

export default {
    props:['dataprop'],
      filters: {
    formatSize: function (value) {
      if (!value) return ''
      let valKB = 0.000001*value
      return `${valKB.toFixed(2)} MB`
    }
  },
    data() {
         return {
            url:'',
            token:document.head.querySelector('meta[name="csrf-token"]').content,
            type:'',
            data:{
              event:"WITh PAPDI BALI 2020",
              note:"Sertifikat",
              tanggal:"10/10/2020"
            },           
            files: [],
         }

    },
    created(){
        this.initial()
       
    },
    methods:{  
        initial(){
           this.url  = this.dataprop.url         
           this.type = this.dataprop.type      
           if(!_.isEmpty(this.dataprop.data)){
                this.data = this.dataprop.data
           }
        },
        inputFilter(newFile, oldFile, prevent) {
          if (newFile && !oldFile) {
            // Before adding a file
            // 添加文件前
            // Filter system files or hide files
            // 过滤系统文件 和隐藏文件
            if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
              return prevent()
            }
            // Filter php html js file
            // 过滤 php html js 文件
            if (/\.(php5?|html?|jsx?)$/i.test(newFile.name)) {
              return prevent()
            }
          }
        },
        inputFile(newFile, oldFile) {
          if (newFile && !oldFile) {
            // add
            console.log('add', newFile)
          }
          if (newFile && oldFile) {
            // update
            console.log('update', newFile)
          }
          if (!newFile && oldFile) {
            // remove
            console.log('remove', oldFile)
          }
          this.$refs.upload.active = true
          this.data.filename =  newFile.response.filename
        },
        getImage(img){
            return `/${img}`

        },
        submit(){
            this.$validator.validate().then(valid => {
                if (valid) {
                   this.axiosForm(this.data)
                }
              });
        },
        axiosForm(data){
            let self = this
            var formData = this.formData(data)
            axios.post(this.url,formData).then((response)=>{
                // self.data = response.data
                // let msg = self.titleCase(self.type) + ' Success!'
                // self.$swal('Attention!', msg, 'success')
                // if(self.type==='add'){
                //     self.clearAll()
                //     self.back()
                // }
            })
            .catch(function(error) {
                console.error(error);
            });
        },
        titleCase(str) {
          str = str.toLowerCase().split(' ');
          for (var i = 0; i < str.length; i++) {
            str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1); 
          }
          return str.join(' ');
        },
        clearAll(){
            this.data = {}
            this.veeErrors.items = []
        },
        back(){
            this.toParent('list',this.data)
        },
        formData(obj){
            var formData = new FormData();
            for (var key in obj) {
                formData.append(key, obj[key]);
            }
            return formData;
        },
        toParent(action,data){
            let dataEmit = {
                action : action,
                data : data,
            }
            // console.log(dataEmit)
            this.$emit('data-prop', dataEmit)
        },      
    }
}
</script>
<style>
    .square {
      width: 100px;
      height: 100px;
      background: white;
    }

    .colorin {
      background: #66D1D1;
      padding:5px;
      border-radius:3px;
    }
</style>
