<template>
  <div>
    <form class="patient__form contact-form-validated">
        <div class="patient__form-field">
            <p class="patient__label">Fullname* (Input nama sesuai sertifikat)</p>
            <input type="text" 
                  v-model="konfirmasi.fullname"
                  v-validate="'required'"
                  name="fullname"
                  data-vv-as="Full Name">
                  <div class="text-danger small">{{ veeErrors.first('fullname') }}</div>
        </div>
        <div class="patient__form-field">
            <p class="patient__label">Your E-mail Address*</p>
            <input type="text" 
                  v-validate="'required|email'"
                  name="email"
                  v-model="konfirmasi.email"
                  data-vv-as="Email Address">
            <div class="text-danger small">{{ veeErrors.first('email') }}</div>
        </div>
        <div class="patient__form-field">
            <p class="patient__label">Your Whatsapp No.*</p>
            <input type="text" 
                  v-validate="'required|numeric'"
                  name="phone"
                  v-model="konfirmasi.phone"
                  data-vv-as="Phone Number">
            <div class="text-danger small">{{ veeErrors.first('phone') }}</div>
        </div>
        <div class="patient__form-field">
            <p class="patient__label">Tanggal Pembayaran?</p>
            <b-form-datepicker
            v-validate="'required'"
                  name="tgl_bayar"
                  v-model="konfirmasi.tgl_bayar"
                  data-vv-as="Date Payment"></b-form-datepicker>
            <div class="text-danger small">{{ veeErrors.first('tgl_bayar') }}</div>
        </div>
        
        <div class="patient__form-field">
            <p class="patient__label">Nama Bank Anda?</p>
            <input type="text" 
                  v-validate="'required'"
                  name="bank"
                  v-model="konfirmasi.bank"
                  data-vv-as="Bank Name">
            <div class="text-danger small">{{ veeErrors.first('bank') }}</div>
        </div>  

        <div class="patient__form-field">
            <p class="patient__label">Nominal Transfer?</p>
            <input type="text" 
                  v-validate="'required|numeric'"
                  name="nominal"
                  v-model="konfirmasi.nominal"
                  data-vv-as="Nominal">
            <div class="text-danger small">{{ veeErrors.first('nominal') }}</div>
        </div>       

         <div class="patient__form-field">
            <p class="patient__label">Notes</p>
            <textarea  
                  v-validate=""
                  name="note"
                  v-model="konfirmasi.note"
                  data-vv-as="Note"> </textarea>
        </div>

        <div class="patient__form-field">
            <p class="patient__label">Upload Bukti Pembayaran* (mohon menunggu upload sampai sukses)</p>
      
        <div v-for="(file, index) in files" :key="file.id">
          <img v-if="!file.error" :src="getImage(file.name)" alt="Bukti Transfer" width="500" height="auto" > 
          <span v-else>Can't Preview Image</span>
              <br/>
          
          <span>File: {{file.name}}</span> |
          <span>Size: {{file.size | formatSize}}</span>|
          <span v-if="file.error" class="btn-danger pl-1 pr-1">{{(file.error=='denied'?"Upload File Failed":"Upload File Error")}}</span>
          <span v-else-if="file.success"  class="btn-success pl-1 pr-1">Success Upload</span>
          <span v-else-if="file.active">Proses Upload - {{file.progress}}/100</span>
          <span v-else></span>
          <div :class="{'progress-bar': true, 'progress-bar-striped': true, 'bg-danger': file.error, 'progress-bar-animated': file.active}" role="progressbar" :style="{width: file.progress + '%'}">{{file.progress}}%</div>
        </div>
           <file-upload
            class="btn btn-primary"
            post-action="/upload/bukti"
            extensions="gif,jpg,jpeg,png,webp"
            accept="image/png,image/gif,image/jpeg,image/webp"
            :multiple="false"
            v-model="files"
            @input-filter="inputFilter"
            @input-file="inputFile"
            ref="upload"
            :headers="{'X-CSRF-TOKEN': token}"
            :drop="true"
            name="bukti_transfer"
            v-validate="'required'">
            <i class="fa fa-plus"></i>
            Select files
          </file-upload>
            <div class="text-danger small">{{ veeErrors.first('bukti_transfer') }}</div>
        </div>

        <button type="submit" class="thm-btn" @click.prevent="submitkonfirmasi">Submit Now</button>
    </form>
  </div>
</template>

<script>
import AxiosMixin from "./mixins/axiosMixins.js";

export default {
  props: ["dataprop"],
  mixins: [AxiosMixin],
  filters: {
    formatSize: function (value) {
      if (!value) return ''
      let valKB = 0.000001*value
      return `${valKB.toFixed(2)} MB`
    }
  },
  data() {
    return {
      url: "",
      token:document.head.querySelector('meta[name="csrf-token"]').content,
      type: "",
      image_folder:"bukti_transfer",
      konfirmasi: {
          fullname:'',
          email:'',
          phone:'',
          bukti_bayar:'',
          tgl_bayar:'',
          bank:'',
          nominal:'',
          note:'',
      },
      files: [],
      profesi: [
        {value:'dokter umum',text:'Dokter Umum - Biaya 100000'},
        {value:'dokter spesialis',text:'Dokter Spesialis - Biaya 200000'}]
    };
  },
  created() {
    this.initial();
  },
  methods: {
    initial() {

    },    
    getImage(link){
      return `${this.image_folder}/${link}`
    },
    inputFilter(newFile, oldFile, prevent) {
      if (newFile && !oldFile) {
        // Before adding a file
        // 添加文件前
        // Filter system files or hide files
        // 过滤系统文件 和隐藏文件
        if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
          return prevent()
        }
        // Filter php html js file
        // 过滤 php html js 文件
        if (/\.(php5?|html?|jsx?)$/i.test(newFile.name)) {
          return prevent()
        }
      }
    },
    inputFile(newFile, oldFile) {
      if (newFile && !oldFile) {
        // add
        console.log('add', newFile)
      }
      if (newFile && oldFile) {
        // update
        console.log('update', newFile)
      }
      if (!newFile && oldFile) {
        // remove
        console.log('remove', oldFile)
      }
      this.$refs.upload.active = true
    },
    submit(data){
        let formData = this.formData(data)
        let url = `konfirmasi`
        axios.post(url,formData).then((response)=> {
            // if(response.data){
            //   let msg = 'konfirmasi Success!'
            //   this.$swal('Attention!', msg, 'success')
            // }
        })
        let dataEmit = {
            action:'notif'
        }
        this.$emit("data-konfirmasi",dataEmit);
    },
    formData(obj){
        var formData = new FormData();
        for (var key in obj) {
            formData.append(key, obj[key]);
        }
        return formData;
    },
    submitkonfirmasi() {
       this.$validator.validate().then(valid => {
                if (valid) {
                  if(this.files.length>0){
                    this.konfirmasi.bukti_bayar = `${this.image_folder}/${this.files[0].name}`
                  }
                  if(this.files[0].progress>=100){
                    if(this.files[0].error==""){
                      this.submit(this.konfirmasi)
                    }else{
                      if(this.files[0].size>2000000){
                        alert("Maksimum Upload File 20 MB")
                      }else{
                        alert("Upload File Error")
                      }
                    }
                  }else{
                    alert("File Masih Belum Terupload Sempurna")
                  }
                }
              });
    },
    labelProfesi({ profesi, biaya }) {
      return `${profesi} — Biaya ${biaya}`;
    },
    alertError(msg) {
      this.$swal({
        icon: "error",
        title: "Maaf terdapat gangguan, silahkan coba kembali",
        text: msg,
        type: "warning",
        confirmButtonColor: "#3085d6",
        confirmButtonText: "Mengerti",
      }).then((result) => {
        if (result.value) {
        }
      });
    },
  },
};
</script>
<style src='vue-multiselect/dist/vue-multiselect.min.css'></style>
<style>
  .multiselect__input{
    width:0px!important; 
  }


</style>
