<template>
  <div id="notifelement">
    
    Terima kasih telah melakukan Pembayaran, mohon menunggu team kami untuk memverifikasi pembayaran yang telah dilakukan. <br>

    Konfirmasi sukses pembayaran, akan kami kirimkan melalui email.<br>

    Terima kasih.<br>
    Panita WITh PAPDI 2020


  </div>
</template>

<script>
import AxiosMixin from "./mixins/axiosMixins.js";

export default {
  props: ["dataprop"],
  mixins: [AxiosMixin],
  data() {
    return {
      url: "",

    
    };
  },
  created() {
  },
  methods: {
    initial() {

    },
  },
  mounted: function(){
    var target = document.querySelector("#notifelement");
            // animate
    $('html, body').animate({
        scrollTop: $(target).offset().top
    }, 500);
  }
};
</script>
<style src='vue-multiselect/dist/vue-multiselect.min.css'></style>
<style>
  .multiselect__input{
    width:0px!important; 
  }


</style>
