<template>
<div>
<form class="forms-sample">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="exampleInputUsername1">Fullname</label>
                <input type="text" class="form-control" id="name" autocomplete="off" placeholder="Nama" v-model="data.fullname" v-validate="'required'" name="name" data-vv-as="Nama Ruangan" disabled>
                <div>{{ veeErrors.first('name') }}</div>
            </div>   
             <div class="form-group">
                <label for="exampleInputEmail1">Phone</label>
                <input type="text" class="form-control" id="capacity" placeholder="Phone" v-model="data.phone" v-validate="'required'" name="phone" data-vv-as="Phone No" disabled>
                <div>{{ veeErrors.first('phone') }}</div>
            </div>         
           
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="text" class="form-control" id="status" placeholder="Email" v-model="data.email" v-validate="'required'" name="status" data-vv-as="Status Ruangan" disabled>
                <div>{{ veeErrors.first('status') }}</div>
            </div>
             <div class="form-group">
                <label for="exampleInputUsername1">Institusi</label>
                <input type="text" class="form-control" id="institusi" autocomplete="off" placeholder="Nama" v-model="data.institusi" v-validate="'required'" name="institusi" data-vv-as="Nama Ruangan" disabled>
                <div>{{ veeErrors.first('institusi') }}</div>
            </div>
           
        </div>
    </div>
    
    <div class="form-group">
        <label for="exampleInputEmail1">Profesi</label>
        <input type="text" class="form-control" id="owner" placeholder="Owner" v-model="data.profesi" v-validate="'required'" name="owner" data-vv-as="Pemilik Ruangan" disabled>
        <div>{{ veeErrors.first('owner') }}</div>
    </div>    

    <div class="form-group">
        <button type="button" class="btn btn-success btn-lg" v-if="!data.payment" @click="konfirmasiBayar(data.id)">Konfirmasi Pembayaran</button>
        <button type="button" class="btn btn-secondary btn-lg" v-else>Sudah Bayar</button>
    </div>

    <button type="submit" @click.prevent="back()" class="btn btn-secondary mr-2">Back</button>
    
</form>
</div>
</template>

<script>

export default {
    props:['dataprop'],
    data() {
         return {
            url:'',
            type:'',
            data:{},
         }

    },
    created(){
        this.initial()
       
    },
    methods:{  
        initial(){
           this.url  = this.dataprop.url         
           this.type = this.dataprop.type      
           if(!_.isEmpty(this.dataprop.data)){
                this.data = this.dataprop.data
           }
        },
        konfirmasiBayar(id){
            let url = `register/payment/${id}`
            axios.get(url).then((response)=>{
                                     return response.data
                                })
            this.data.payment = 1;
        },
        submit(){
            this.$validator.validate().then(valid => {
                if (valid) {
                   this.axiosForm(this.data)
                }
              });
        },
        axiosForm(data){
            let self = this
            var formData = this.formData(data)
            axios.post(this.url,formData).then(function(response) {
                self.data = response.data
                let msg = self.titleCase(self.type) + ' Success!'
                self.$swal('Attention!', msg, 'success')
                if(self.type==='add'){
                    self.clearAll()
                    self.back()
                }
            })
            .catch(function(error) {
                console.error(error);
            });
        },
        titleCase(str) {
          str = str.toLowerCase().split(' ');
          for (var i = 0; i < str.length; i++) {
            str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1); 
          }
          return str.join(' ');
        },
        clearAll(){
            this.data = {}
            this.veeErrors.items = []
        },
        back(){
            this.toParent('list',this.data)
        },
        formData(obj){
            var formData = new FormData();
            for (var key in obj) {
                formData.append(key, obj[key]);
            }
            return formData;
        },
        toParent(action,data){
            let dataEmit = {
                action : action,
                data : data,
            }
            // console.log(dataEmit)
            this.$emit('data-prop', dataEmit)
        },      
    }
}
</script>
<style>
    .square {
      width: 100px;
      height: 100px;
      background: white;
    }

    .colorin {
      background: #66D1D1;
      padding:5px;
      border-radius:3px;
    }
</style>
