.testimonials-one{
  background-image: linear-gradient(17deg, rgba(0,0,122,1) -56%, rgba(255,0,27,1) 153%)!important;
}

.cta-one {
    background: #eaeaea url(../images/background/cta-bg-1-1.jpg) 150px center no-repeat;
    background-size: cover;
    position: relative;
    padding: 155.5px 0;
}

.cta-two {
    padding: 55px 0;
    background-color: #dc3545;
    text-align: center;
}

.service-sidebar__list-item {
    background-color:  rgba(0,0,122,1);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.service-sidebar__list-item + .service-sidebar__list-item {
    border-top: 1px solid rgba(0,0,122,1);
}

.main-navigation{
    margin-right: 10px!important;
}

.doctor-one:before{
    background-image:linear-gradient(17deg, rgba(0,0,122,1) -56%, rgba(255,0,27,1) 153%)!important;
}

.training__info {
    background-image:linear-gradient(17deg, rgba(0,0,122,1) -56%, rgba(255,0,27,1) 153%)!important;
    padding: 32px 30px;
    border-radius: 10px;
    color: white!important;
}

.training__info_grey {
    background-color:#DAE2ED!important;
    padding: 32px 30px;
    border-radius: 10px;
    color: white!important;
    
}

.info{
    color: white!important;
}

.patient__cta.bottom a {
    color: white;
    font-weight: bold;
}

.imgEvent{
    object-fit: cover;
    width:100%;
    height:230px;
}