<template>
    <div class="card">
        <div class="card-header">
            <i class="fas fa-code"></i> Example Vue Component
        </div>
        <div class="card-body">
            I'm an example Vue component, yudi!
            <button @click.prevent="testTekan()">yuk klik</button>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('test mounted.')
        },
        methods:{
            testTekan(){
                alert("tekan")
            }
        }
    }
</script>
