<template>
  <div>
    <form class="patient__form contact-form-validated">
        <div class="patient__form-field">
            <p class="patient__label">Fullname* (Input nama sesuai sertifikat)</p><!-- /.patient__label -->
            <input type="text" 
                  v-model="registrasi.fullname"
                  v-validate="'required'"
                  name="fullname"
                  data-vv-as="Full Name">
                  <div class="text-danger small">{{ veeErrors.first('fullname') }}</div>
        </div><!-- /.patient__form-field -->
        <div class="patient__form-field">
            <p class="patient__label">Your E-mail Address*</p><!-- /.patient__label -->
            <input type="text" 
                  v-validate="'required|email'"
                  name="email"
                  v-model="registrasi.email"
                  data-vv-as="Email Address">
            <div class="text-danger small">{{ veeErrors.first('email') }}</div>
        </div><!-- /.patient__form-field -->
        <div class="patient__form-field">
            <p class="patient__label">Your Whatsapp No.*</p><!-- /.patient__label -->
            <input type="text" 
                  v-validate="'required|numeric'"
                  name="phone"
                  v-model="registrasi.phone"
                  data-vv-as="Phone Number">
            <div class="text-danger small">{{ veeErrors.first('phone') }}</div>
        </div><!-- /.patient__form-field -->
        
        <div class="patient__form-field">
            <p class="patient__label">Silakan Pilih Profesi Anda?*</p><!-- /.patient__label -->
            <b-form-select v-model="registrasi.profesi" :options="profesi" size="lg" class="mt-3"
                  v-validate="'required'"
                  name="profesi"
                  data-vv-as="Profesi"></b-form-select>
            <div class="text-danger small">{{ veeErrors.first('profesi') }}</div>
        </div><!-- /.patient__form-field -->

        <div class="patient__form-field">
            <p class="patient__label">Institusi*</p><!-- /.patient__label -->
            <input type="text" 
                  v-validate="'required'"
                  name="institusi"
                  v-model="registrasi.institusi"
                  data-vv-as="Institusi">
            <div class="text-danger small">{{ veeErrors.first('institusi') }}</div>
        </div><!-- /.patient__form-field -->

        <button type="submit" class="thm-btn" @click.prevent="submitRegistrasi">Submit Now</button>
    </form>
  </div>
</template>

<script>
import AxiosMixin from "./mixins/axiosMixins.js";

export default {
  props: ["dataprop"],
  mixins: [AxiosMixin],
  data() {
    return {
      url: "",

      type: "",
      registrasi: {
          fullname:'',
          email:'',
          phone:'',
          profesi:'dokter umum',
          institusi:'',
      },
      profesi: [
        {value:'dokter umum',text:'Dokter Umum - Biaya 100000'},
        {value:'dokter spesialis',text:'Dokter Spesialis - Biaya 200000'}]
    };
  },
  created() {
    this.initial();
  },
  methods: {
    initial() {

    },
    submit(value){
        let formData = this.formData(value)
        let url = `register`
        axios.post(url,formData)
        let data = this.registrasi
        let dataEmit = {
            action:'notif',
            data
        }
        this.$emit("data-registrasi",dataEmit);
    },
    formData(obj){
        var formData = new FormData();
        for (var key in obj) {
            formData.append(key, obj[key]);
        }
        return formData;
    },
    submitRegistrasi() {
       this.$validator.validate().then(valid => {
                if (valid) {
                    this.submit(this.registrasi)
                }
              });
    },
    labelProfesi({ profesi, biaya }) {
      return `${profesi} — Biaya ${biaya}`;
    },
    alertError(msg) {
      this.$swal({
        icon: "error",
        title: "Maaf terdapat gangguan, silahkan coba kembali",
        text: msg,
        type: "warning",
        confirmButtonColor: "#3085d6",
        confirmButtonText: "Mengerti",
      }).then((result) => {
        if (result.value) {
        }
      });
    },
  },
};
</script>
<style src='vue-multiselect/dist/vue-multiselect.min.css'></style>
<style>
  .multiselect__input{
    width:0px!important; 
  }


</style>
