<template>
  <div >
    
    Terima kasih telah melakukan Registrasi, Silakan melakukan pembayaran di rekening berikut:<br><br> 
    <img :src="getBankLogo()"><br/>
    <b>BNI Cabang Renon
    <br>
    No. Rek: 0802334590
    <br>
    Atas Nama: PAPDI CABANG BALI<br>

    Sebesar: {{getBiaya()}}

    </b> <br/>
    <br> 
    Setelah Transfer, silakan langsung lakukan konfirmasi pembayaran ke alamat di bawah ini. <br>
    <a href="https://www.withpapdibali.id/konfirmasi" class="thm-btn">Konfirmasi</a>

  </div>
</template>

<script>
import AxiosMixin from "./mixins/axiosMixins.js";

export default {
  props: ["dataprop"],
  mixins: [AxiosMixin],
  data() {
    return {
      url: "",

    
    };
  },
  created() {

  },
  methods: {
    initial() {

    },
    getBankLogo(){
      return 'front/images/bankbni.png'
    },
    getBiaya(){
      return (this.dataprop.profesi==="dokter umum")?"Rp 100.000":"Rp 200.000"
    }

    
  },
  mounted: function(){
    var target = document.querySelector("#notifelement");
            // animate
    $('html, body').animate({
        scrollTop: $(target).offset().top
    }, 500);
  }
};
</script>
<style src='vue-multiselect/dist/vue-multiselect.min.css'></style>
<style>
  .multiselect__input{
    width:0px!important; 
  }


</style>
