<template>
  <div>
    <div class="row inbox-wrapper">
      <!-- left wrapper start -->
      <!-- left wrapper end -->
      <!-- middle wrapper start -->
      <div class="col-md-12 col-xl-12 middle-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="card rounded">
              <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <div class="ml-2">
                      <p>Manajemen Slot</p>
                      <p class="tx-11 text-muted">List Slot Aktif</p>
                    </div>
                  </div>
                  <div class="dropdown">
                    <a @click.prevent="add()" class="btn btn-primary mb-1 mb-md-0" href="#">
                      <i class="mdi mdi-plus-circle"></i>
                      <span class="hide-on-small-onl">Add Slot</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-md-6 grid-margin">
                    <div class="form-inline">
                      <label class="mr-2">Pencarian</label>
                      <input
                        type="text"
                        placeholder="Ketikan pencarian disini"
                        class="form-control"
                        v-model="filter"
                      />
                    </div>
                  </div>
                  <div class="col-md-6 grid-margin">
                    <div class="form-inline float-right">
                      <label class="mr-2">Lihat</label>
                      <select class="form-control" v-model="per_page">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                      <label class="ml-2">Entri</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <b-table
                      id="data-table"
                      responsive
                      hover
                      :filter="filter"
                      :items="dataList"
                      :fields="fields"
                      :per-page="per_page"
                      :current-page="current_page"
                      :sort-by="sortBy"
                      :sort-desc="sortDesc"
                      @filtered="onFiltered"
                      show-empty
                    >
                      <template
                        v-slot:cell(index)="data"
                      >{{ (data.index+1) + (per_page*current_page) - per_page}}</template>
                      <template v-slot:cell(program)="data">
                        {{data.item.courseplan.program.name}}({{data.item.courseplan.program.code}})
                        <br />
                        {{data.item.courseplan.program.faculty.name}}
                      </template>
                      <template v-slot:cell(semester)="data">{{data.item.courseplan.semester}}</template>
                      <template v-slot:cell(capacity)="data">{{data.item.room.capacity}}</template>
                      <template v-slot:cell(day)="data">{{dayOfWeekAsString(data.item.day_index) }}</template>
                      <template v-slot:cell(actions)="row">
                        <button type="button" class="btn btn-primary btn-icon">
                          <i class="mdi mdi-lead-pencil" @click="edit(row.item)"></i>
                        </button>
                        <button
                          type="button"
                          class="btn btn-danger btn-icon"
                          @click="deleteData(data.index,row.item)"
                        >
                          <i class="mdi mdi-delete"></i>
                        </button>
                      </template>
                    </b-table>
                  </div>
                  <div class="col-md-12">
                    <b-pagination
                      v-model="current_page"
                      :total-rows="total_rows"
                      :per-page="per_page"
                      align="right"
                      aria-controls="data-table"
                    ></b-pagination>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <!-- middle wrapper end -->
      <!-- right wrapper start -->
      <!-- right wrapper end -->
    </div>
  </div>
</template>

<script>
import AxiosMixin from "./mixins/axiosMixins.js";
export default {
  components: {},
  props: ["datakrs"],
  mixins: [AxiosMixin],
  data() {
    return {
      url: "/admin/slot",
      name: "table",
      emptyResult: false,
      dataList: [],
      current_page: 1,
      per_page: 5,
      filter: null,
      sortDesc: false,
      sortBy: "index",
      fields: [
        { key: "index", sortable: true, label: "#" },
        { key: "program", sortable: true, label: "Program" },
        { key: "semester", sortable: true, label: "Semester" },
        { key: "capacity", sortable: true, label: "Capacity" },
        { key: "day", sortable: true, label: "Day" },
        { key: "actions", label: "Action" },
      ],
      total_rows: 0,
    };
  },
  created() {
    this.initial();
  },
  methods: {
    initial() {
      this.getData();
    },
    rows() {
      return this.items.length;
    },

    filterTable(row, filter) {
      // if (row.age >= filter) {
      //   return false;
      // } else {
      //   return true;
      // }

      console.log(filter);
      console.log(row);
      return row;
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.total_rows = filteredItems.length;
      this.current_page = 1;
    },
    getData() {
      let self = this;
      let ulrlist = `${this.url}/list`;
      axios.get(ulrlist).then(function (response) {
        self.dataList = response.data;
        self.total_rows = response.data.length;
      });
    },
    add() {
      this.toParent("add", this.dataList);
    },
    edit(data) {
      this.toParent("edit", data);
    },
    deleteData(idx, data) {
      // console.log(this.$swal)
      this.$swal({
        title: "Delete this order status?",
        text: "Are you sure? You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        confirmButtonText: "Yes, Delete it!",
      }).then((result) => {
        if (result.value) {
          this.dataList.splice(idx, 1);
          this.axiosDelete(data.id);
        }
      });
    },
    axiosDelete(id) {
      let self = this;
      let ulrlist = `${this.url}/delete/${id}`;
      axios
        .post(ulrlist)
        .then(function (response) {
          self.data = response.data;
        })
        .catch(function (error) {
          console.error(error);
        });
    },
    toParent(action, data) {
      let dataEmit = {
        action: action,
        data: data,
        back: this.name,
      };
      this.$emit("data-table", dataEmit);
    },
  },
};
</script>
<style>
</style
